{%extends 'templates/home.html'%}

{% block content %}
                <div class="page-header">
                  <h3 class="page-title">  </h3>
                </div>
                <div class="row">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Agroquimico</h4>
                        <p class="card-description">  </p>
                        <form class="forms-sample">
                          <div class="form-group">
                            <label for="exampleInputUsername1">Nombre de semilla</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nombre">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Variedad de Semilla</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Variedad ">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Cantidad en Kilogramos</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Cantidad">
                          </div>
                          <!-- <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Descripcion</label>
                            <input type="text" class="form-control" id="exampleInputConfirmPassword1" placeholder="d">
                          </div> -->
                          <!-- <div class="form-group">
                            <label for="Units">Unidades</label>
                            <select class="form-control" id="">
                              {% for lista in listatabla1 %}
                              <option class="dropdown-item" data-value="{{lista.id}}">{{lista.name}}</option>
                              {% endfor %}
                            </select> 
                          </div> -->
                          <!-- <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i></label>
                          </div> -->
                          <button type="submit" class="btn btn-primary mr-2">Submit</button>
                          <button class="btn btn-dark">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              
  {% endblock %}