{%extends 'templates/home.html'%}

{% block content %}
    <div class="page-header">
      <h3 class="page-title"> Clientes </h3>
    </div>
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Clientes</h4>
          <a type="button" href="{% url 'CargaCliente'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Cliente</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla1" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                      <th>Telefono </th>
                      <th>Ruc</th>
                      <th>Email</th>
                      <th>Opciones </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in object_list %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.nombre}}</td>
                      <td> {{lista.telefono}}</td>
                      <td> {{lista.ruc}} </td>
                      <td> {{lista.email}} </td>
                      <td>
                        <a href="{% url 'EditCliente' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a  href="{% url 'DeleteCliente' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

{% endblock %}

