{%extends 'templates/home.html'%}

{% block content %}
<form  method="post" action=".">
                <div class="page-header">
                  <h3 class="page-title">  </h3>
                </div>
                <div class="row">
                  <div class="col-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        {% csrf_token %}
                        <h4 class="card-title">{{page_title}}</h4>
                        {% if form.errors %}
                        <div class="alert">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                          El Registro no puede ser borrado porque contiene datos sobre el camion utilizado en una entrega existente.
                            
                          </div>
                        {% endif %}
                        <div class="alert alert-danger" role="alert">
                            Estas seguro de eliminar el registro <a href="#" class="alert-link">{{ object.nombre }}</a> ?
                        </div>
                          <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
                          <button href="{{ list_url }}"class="btn btn-dark">Cancel</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
</form>
              
{% endblock %}