    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AGRO.SYSTEM</title>
    <!-- plugins:css -->

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{%static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{%static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/error.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5fe4c3f9ce.js" crossorigin="anonymous"></script>
    
    <!-- jquery -->
    
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{%static 'assets/images/favicon.png'%}" />
    <!--  -->
    <link href="{%static 'vendor/select2/select2.min.css'%}" rel="stylesheet" />
    
    
    <script src="{%static 'vendor/select2/select2.min.js'%}"></script>
    
    <script src="{% static 'assets\trabajo\forms.js' %}"></script>
