    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AGRO.SYSTEM</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{%static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{%static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/vendors/css/vendor.bundle.base.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/error.css'%}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{%static 'assets/images/favicon.png'%}" />
    <script src="https://kit.fontawesome.com/5fe4c3f9ce.js" crossorigin="anonymous"></script>