{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include 'templates/head.html' %}
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'templates/header1.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        {% include 'templates/header2.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}

            {% endblock %}
          </div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js  y custom js-->
    {% include 'templates/scripts.html' %}
    <!-- End custom js for this page -->
  </body>
</html>