{%load static%}
<script src="{%static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{%static 'assets/js/off-canvas.js'%}"></script>
    <script src="{%static 'assets/js/hoverable-collapse.js'%}"></script>
    <script src="{%static 'assets/js/misc.js'%}"></script>
    <script src="{%static 'assets/js/settings.js'%}"></script>
    <script src="{%static 'assets/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{%static 'assets/js/data-table.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.1/api/sum().js"></script>
    <script>
      $(document).ready(function () {
        $('#tabla1').DataTable();
        $('#tabla2').DataTable();
        $('#tabla3').DataTable();
        $('#tabla4').DataTable();
        $('#tabla5').DataTable();
        $('#tabla6').DataTable();
        $('#tabla7').DataTable();
        $('#tabla8').DataTable();
        $('#produccion').DataTable();
      });
    </script>
    <script>
      $(document).ready(function() {
    $('.js-example-basic-multiple').select2();});
    </script>
    