{%extends 'templates/home.html'%}

{% block content %}
    <div class="page-header">
      <h3 class="page-title"> Stock </h3>
    </div>
    
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Stock</h4>
            <div class="row">
              <div class="col-md-3">
                <a type="button" href="{% url 'CargaQuimico'  %}" class="btn btn-outline-success btn-fw">Nuevo Stock</a>
              </div>
              <div class="col-md-4">
                <a type="button" href="{% url 'SumaQuimico'  %}" class="btn btn-outline-primary btn-fw">Compra de Stock</a>
              </div>
            </div>
          <div class="row">
            <div class="col-12">
            <div class="text-secondary">
              <div class="card-body table-responsive">  
                    <table id="Stock" class="table" >
                  <thead>
                    <tr>
                      <!-- <th>Id</th> -->
                      <th>Nombre </th>
                      <th>Categoria </th>
                      <th>Droga </th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <!-- <th>Unidades </th> -->
                      <th>Opciones </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla1 %}
                    <tr>
                      <!-- <td> {{lista.id}} </td> -->
                      <td>{{lista.name}}</td>
                      <td>{{lista.categoria}}</td>
                      <td> {{lista.ingrediente}}</td>
                      <td> {{lista.cantidad}}{{lista.unidades}}</td>
                      <td> {{lista.precio}}</td>
                      <!-- <td> </td> -->
                      <td>
                        <a href="{% url 'EditQuimico' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="{% url 'DeleteQuimico' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                    </tr>
                  </tfoot>
                  </table>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Granos</h4>
          <a type="button" href="{% url 'CargaGrano'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Grano</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla3" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                      <th>Variedad </th>
                      <th>Procedencia</th>
                      <th>Cantidad Kg</th>
                      <th>Opciones </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla2 %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.nombre}}</td>
                      <td> {{lista.variedad}}</td>
                      <td> {{lista.Procedencia}}</td>
                      <td> {{lista.stock}} Kg</td>
                      <td>
                        <a href="{% url 'EditGrano' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a  href="{% url 'DeleteGrano' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Categoria de Stock</h4>
          <a type="button" href="{% url 'CargaCateQui'  %}" class="btn btn-outline-secondary btn-fw">Nueva Categoria</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla4" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla3 %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.nombre}}</td>
                      <td>
                      <a href="{% url 'CatQuimiEditview' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a href="{% url 'DeleteQuimiCate' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        var tabla = $("#Stock").DataTable({
                
                "drawCallback":function(){
                      //alert("La tabla se está recargando"); 
                      var api = this.api();
                      // $(api.column(6).footer()).html(
                      //     'Total: '+api.column(6, {page:'current'}).data().sum()+' usd'
                      // )
                      // $(api.column(3).footer()).html(
                      //     ''+api.column(3, {page:'current'}).data().sum()+' kg/ha'
                      // )
                      $(api.column(3).footer()).html(
                          'Total: '+api.column(3, {page:'current'}).data().sum()+''
                      )
                },
    //             "columnDefs": [
    //   { targets : [ 4 ], data:  function ( row, type, val, meta ) {
    //       str = parseInt(row[2],10) / parseInt(row[3],10)+' kg'
    //       return str ;
    //       }
    //    } 
    // ]  
                
        });
    });
    
      </script>
{% endblock %}

