{%extends 'templates/home.html'%}

{% block content %}
    <div class="page-header">
      <h3 class="page-title"> Stock </h3>
    </div>
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agroquimicos</h4>
        
        <a type="button" href="{% url 'Cargastock'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Agroquimico</a>
        <div class="row">
          <div class="col-12">
          <div class="text-secondary">
            <div class="card-body table-responsive">  
                  <table id="tabla" class="table" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre </th>
                    <th>Descripcion </th>
                    <th>Droga </th>
                    <th>Cantidad</th>
                    <th>Unidades </th>
                    <th>Opciones </th>
                  </tr>
                </thead>
                <tbody>
                  {% for lista in listatabla1 %}
                  <tr>
                    <td> {{lista.id}} </td>
                    <td>{{lista.nombre}}</td>
                    <td>{{lista.categoria}}</td>
                    <td> {{lista.ingrediente}}</td>
                    <td> {{lista.cantidad}}</td>
                    <td> {{lista.unidades}}</td>
                    <td>
                    <button type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i>
                    <button type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Granos</h4>
          <a type="button" href="{% url 'CargaGrano'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Grano</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla1" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                      <th>Variedad </th>
                      <th>Cantidad Kg</th>
                      <th>Opciones </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla2 %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.nombre}}</td>
                      <td> {{lista.variedad}}</td>
                      <td> {{lista.kilogramos}} Kg</td>
                      <td>
                      <button type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i>
                      <button type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Categoria de Quimicos</h4>
          <a type="button" href="{% url 'CargaCateQui'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Grano</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla1" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla3 %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.name}}</td>
                      <td>
                      <a href="{% url 'CatQuimiEditview' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}