{%extends 'templates/home.html'%}

{% block content %}
    <div class="page-header">
      <h3 class="page-title"> Entregas </h3>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Entregas</h4>
            <a type="button" href="{% url 'CargaEntregas'  %}" class="btn btn-outline-secondary btn-fw">Nueva Entrega</a>
            <div class="row">
              <div class="col-12">
                <div class=" card-body table-responsive">  
                      <table id="tabla3" class="table" >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Cliente </th>
                        <th>Producto </th>
                        <th>Cantidad</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for lista in listatabla3 %}
                      <tr>
                        <td> {{lista.id}} </td>
                        <td>{{lista.cliente}}</td>
                        <td> {{lista.grano_id}} </td>
                        <td>{{lista.cantidad}}</td>
                        <td>
                          <a href="{% url 'EditEntregas' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                          <a  href="{% url 'DeleteEntregas' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Camiones</h4>
          <a type="button" href="{% url 'CargaCamion'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Camion</a>
          <div class="row">
            <div class="col-12">
              <div class=" card-body table-responsive">  
                    <table id="tabla2" class="table" >
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre </th>
                      <th>Chapa</th>
                      <th>Cedula</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lista in listatabla2 %}
                    <tr>
                      <td> {{lista.id}} </td>
                      <td>{{lista.nombre}}</td>
                      <td>{{lista.chapa}}</td>
                      <td>{{lista.cedula}}</td>
                      <td>
                        <a href="{% url 'EditCamion' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a  href="{% url 'DeleteCamion' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    

  
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Granos</h4>
        <a type="button" href="{% url 'CargaGrano'  %}" class="btn btn-outline-secondary btn-fw">Nuevo Grano</a>
        <div class="row">
          <div class="col-12">
            <div class=" card-body table-responsive">  
                  <table id="tabla1" class="table" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre </th>
                    <th>Variedad </th>
                    <th>Procedencia</th>
                    <th>Cantidad Kg</th>
                    <th>Opciones </th>
                  </tr>
                </thead>
                <tbody>
                  {% for lista in listatabla1 %}
                  <tr>
                    <td> {{lista.id}} </td>
                    <td>{{lista.nombre}}</td>
                    <td> {{lista.variedad}}</td>
                    <td> {{lista.procedencia}} Kg</td>
                    <td> {{lista.stock}} Kg</td>
                    <td>
                      <a href="{% url 'EditGrano' lista.id %}" type="button" class="btn .btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a  href="{% url 'DeleteGrano' lista.id %}"type="button" class="btn .btn-sm"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

