{%extends 'templates/home.html'%}

{%load static%}
<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets\funtions.js.js' %}"></script>
{% block content %}
<form method="post">
    <div class="page-header">
        <h3 class="page-title"> {{title}} </h3>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header">

                    <h4 class="card-title"><i class="fa-solid fa-tractor"></i>Detalles</h4>
                    <div class="input-group">
                        <select name="search" class="form-control select2" style="width:100%;"></select>
                    </div>
                </div>


                <div class="card-body">
                    <!-- <button type="button" class="btn btn-danger btn-xs btn-flat btnRemoveAll">
                        <i class="fas fa-trash"></i> Eliminar todos mis items
                    </button> -->
                    <!-- <hr> -->
                    <table id="tblProducts" class="table">
                        <thead>
                            <tr>
                                <th>Eliminar </th>
                                <th>Producto </th>
                                <th>Descripcion</th>
                                <th>Categoria </th>
                                <th>Precio </th>
                                <th>Stock</th>
                                <th>Cantidad </th>
                                <th>Subtotal </th>


                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-primary mr-2"><i
                                class="mdi mdi-content-save"></i>Guardar</button>
                        <button class="btn btn-dark"><i class="mdi mdi-delete-forever"></i>Cancel</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de Trabajo</h4>
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="form-group">
                        <label>fecha </label>
                        {{form.fecha}}
                    </div>
                    <div class="form-group">
                        <label>Enacargado </label>
                        {{form.empleado}}
                    </div>
                    <div class="form-group">
                        <label>Parcela</label>
                        {{form.parcela}}
                    </div>
                    <div class="form-group">
                        <label>Tipo de trabajo</label>
                        {{form.tipo}}
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        {{form.descripcion}}
                    </div>
                    <div class="form-group">
                        <label>Hectareas</label>
                        {{form.hectareas}}
                    </div>
                    <div class="form-group">
                        <label>Total</label>
                        {{form.gasto}}
                    </div>



                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var valor = 1;
    var vents = {
        items: {
            parcela: '',
            tipo: '',
            hectareas: 0.00,
            descripcion: '',
            gasto: 0.00,
            fecha: '',
            empleado: '',
            products: [],


        },
        calculate_invoice: function () {
            var subtotal = 0.00;

            $.each(this.items.products, function (pos, dict) {
                // console.log(pos);
                // console.log(dict);
                dict.pos = pos;
                dict.subtotal = dict.cant * parseFloat(dict.precio);
                subtotal += dict.subtotal;
            });
            // console.log(subtotal);
            this.items.gasto = subtotal;
            // this.items.iva = this.items.subtotal * iva;
            // this.items.total = this.items.subtotal + this.items.iva;

            $('input[name="gasto"]').val(this.items.gasto.toFixed(2));
            // $('input[name="ivacalc"]').val(this.items.iva.toFixed(2));
            // $('input[name="total"]').val(this.items.total.toFixed(2));
        },
        add: function (item) {
            this.items.products.push(item);
            this.list();
        },
        list: function () {
            this.calculate_invoice();
            tblProducts = $('#tblProducts').DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                data: this.items.products,
                columns: [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "ingrediente" },
                    { "data": "categoria.nombre" },
                    { "data": "precio" },
                    { "data": "cantidad" },
                    { "data": "cant" },
                    { "data": "subtotal" },
                ],
                columnDefs: [
                    {
                        targets: [0],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<a rel="remove" class="btn btn-danger btn-xs btn-flat" style="color: white;"><i class="fas fa-trash-alt"></i></a>';
                        }
                    },
                    {
                        targets: [4],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '$ ' + parseFloat(data).toLocaleString("es-AR");

                        }
                    },
                    {
                        targets: [6],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<input type="number" name="cant" class="form-control form-control-sm input-sm "  value="' + row.cant + '">';
                        }
                    },
                    {
                        targets: [-1],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '$' + parseFloat(data).toFixed(2);
                        }
                    },
                ],
                // rowCallback(row, data, displayNum, displayIndex, dataIndex) {

                // $(row).find('input[name="cant"]').TouchSpin({
                //     min: 1,
                //     max: 1000000000,
                //     step: 1
                // });

                // },
                initComplete: function (settings, json) {

                }
            });
        },
    };

    $(function () {

        // event submit
        $('form').on('submit', function (e) {
            e.preventDefault();

            if (vents.items.products.length === 0) {
                message_error('Debe al menos tener un item en su detalle de venta');
                return false;
            }
            vents.items.tipo = $('select[name="tipo"]').val();
            vents.items.descripcion = $('input[name="descripcion"]').val();
            vents.items.fecha = $('input[name="fecha"]').val();
            vents.items.parcela = $('select[name="parcela"]').val();
            vents.items.hectareas = $('input[name="hectareas"]').val();
            vents.items.gasto = $('input[name="gasto"]').val();
            vents.items.empleado = $('select[name="empleado"]').val();
            var parameters = new FormData();
            parameters.append('action', $('input[name="action"]').val());
            parameters.append('vents', JSON.stringify(vents.items));
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '../../inicio/';
                // location.href = '';
            });
        });
        $('select[name="search"]').select2({
            // theme:"bootstrap4",
            language: "es",
            // language: 'es',
            allowClear: true,
            ajax: {
                delay: 250,
                type: 'POST',
                url: window.location.pathname,
                data: function (params) {
                    var queryParameters = {
                        term: params.term,
                        action: 'search_products'
                    }

                    return queryParameters;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            placeholder: 'Ingrese una descripción',
            minimumInputLength: 1,
        })

            .on('select2:select', function (e) {

                var data = e.params.data;
                data.cant = 1;
                data.subtotal = 0.00;
                // data.subtotal = data.cant*data.precio;
                // console.log(data);
                vents.add(data);
                // console.log(vents.products);
                $(this).val('').trigger('change.select2');
            })

            .on('change', function () {
                vents.calculate_invoice();
            })


        // $('.btnRemoveAll').on('click', function () {
        //     var cosa = '¿Estas seguro de eliminar el producto de tu detalle?'
        //     if (vents.items.products.length === 0) return false;
        //     message_error(cosa)
        //     vents.list();
        // });


        $('#tblProducts tbody')
            .on('click', 'a[rel="remove"]', function () {
                var tr = tblProducts.cell($(this).closest('td, li')).index();
                vents.items.products.splice(tr.row, 1);
                vents.list();


            })

            .on('change keyup', 'input[name="cant"]', function () {

                var cant = parseInt($(this).val());
                var tr = tblProducts.cell($(this).closest('td, li')).index();
                vents.items.products[tr.row].cant = cant;
                vents.calculate_invoice();
                $('td:eq(7)', tblProducts.row(tr.row).node()).html('$' + vents.items.products[tr.row].subtotal.toFixed(2));
            });
            

    });
</script>
<script>
    $("input[name='hectareas']").TouchSpin({
        min: 0,
        max: 100,
        step: 0.5,
        decimals: 1,
        boostat: 5,
        maxboostedstep: 10,
        postfix: ''
    }).on('change', function () {
        vents.calculate_invoice();
    })
</script>
<script>
    function message_error(obj) {
        var html = '';
        if (typeof (obj) === 'object') {
            html = '<ul style="text-align: left;">';
            $.each(obj, function (key, value) {
                html += '<li>' + key + ': ' + value + '</li>';
            });
            html += '</ul>';
        } else {
            html = '<p>' + obj + '</p>';
        }
        Swal.fire({
            title: 'Error!',
            html: html,
            icon: 'error'
        });
    }
    function submit_with_ajax(url, title, content, parameters, callback) {

        $.ajax({
            url: url, //window.location.pathname
            type: 'POST',
            data: parameters,
            dataType: 'json',
            processData: false,
            contentType: false,
        }).done(function (data) {

            if (!data.hasOwnProperty('error')) {
                callback();
                return false;
            }
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });
    }

</script>
{% endblock %}