{%extends 'templates/home.html'%}


{% block content %}
    <div class="page-header">
      <h3 class="page-title"> {{title}} </h3>
    </div>
    
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fa-solid fa-tractor"></i>Detalles</h4>
                    <div class="input-group">
                        <select name="search" class="form-control select2" style="width:100%;"  ></select>
                    </div>
                </div>    
            
            
                <div class="card-body">
                    
                    <table id="tblProducts" class="table" >
                        <thead>
                        <tr>
                            <th>Eliminar </th>
                            <th>Producto </th>
                            <th>Descripcion</th>
                            <th>Categoria </th>
                            <th>Precio </th>
                            <th>Cantidad </th>
                            <th>Subtotal </th>
                            
                            
                        </tr>
                        </thead>
                        <tbody>

                        <tr>

                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                        </tr>

                        </tbody>
                        </table>
                    
                </div>
                <div class="card-footer">
                    <div>
                        <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
                        <button class="btn btn-dark">Cancel</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos de Trabajo</h4>
            
                <div class="form-group">
                    <label>fecha </label>
                    {{form.fecha}}
                </div>
                <div class="form-group">
                    <label>Parcela</label>
                    {{form.parcela}}
                </div>
                <div class="form-group">
                    <label>Tipo de trabajo</label>
                    {{form.tipo}}
                </div>
                <div class="form-group">
                    <label>Hectareas</label>
                    {{form.hectareas}}
                </div>
                <div class="form-group" >
                    <label>Total</label>
                    {{form.gasto}}
                </div>
            
            </div>
        </div>
        </div>
    </div>

<script>
var valor = 1;
var vents = {
    items: {
        parcela: '',
        tipo:'',
        hectareas: 0,
        descripcion:'',
        gasto: 0.00,
        fecha: '',
        products: [],
        

    },
    add: function (item) {
        this.items.products.push(item);
        this.list();
    },
    list: function () {
        // this.calculate_invoice();
        tblProducts = $('#tblProducts').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            data: this.items.products,
            columns: [
                {"data": "id"},
                {"data": "name"},
                {"data": "categoria.nombre"},
                {"data": "ingrediente"},
                {"data": "precio"},
                {"data": "cantidad"},
                {"data": "subtotal"},
            ],
            columnDefs: [
                {
                    targets: [0],
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return '<a rel="remove" class="btn btn-danger btn-xs btn-flat" style="color: white;"><i class="fas fa-trash-alt"></i></a>';
                    }
                },
                {
                    targets: [4],
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                            return '$ ' + parseFloat(data).toLocaleString("es-AR");
        
                        }
                },
                {
                    targets: [5],
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return '<input type="number" name="cantidad" class="form-control "  value="'+row.cantidad+'">';
                    }
                },
                {
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function (data, type, row) {
                        return '$' + parseFloat(data).toFixed(2);
                    }
                },
            ],
            // rowCallback(row, data, displayNum, displayIndex, dataIndex) {

            //     $(row).find('input[name="cantidad"]').TouchSpin({
            //         min: 1,
            //         max: 1000000000,
            //         step: 1
            //     });

            // },
            initComplete: function (settings, json) {

            }
        });
    },
};

$(function(){
    
    
    $('select[name="search"]').select2({
                // theme:"bootstrap4",
        language:"es",
        language: 'es',
        allowClear: true,
        ajax: {
        delay: 250,
            type: 'POST',
            url: window.location.pathname,
            data: function (params) {
                var queryParameters = {
                    term: params.term,
                    action: 'search_products'
                }

                return queryParameters;
            },
            processResults: function (data) {
                return {
                    results: data
                };
            },
        },
        placeholder: 'Ingrese una descripción',
        minimumInputLength: 1,
        })
        .on('select2:select', function (e) {
            
            var data = e.params.data;
            data.cantidad = 1;
            data.subtotal = data.cantidad*data.precio;
            console.log(data);
            vents.add(data);
            console.log(vents.products);
            $(this).val('').trigger('change.select2');
        });
})
</script>

{% endblock %}

